<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Courier_Service_Company.Properties.Settings.AOAPROJECTConnectionString"
            connectionString="Data Source=DESKTOP-6CV5ARA\SQLEXPRESS;Initial Catalog=AOAPROJECT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>